.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.absolute-header {
  padding-top: rem(82);
}

// Defaults
.text-center {
  text-align: center;
}

.line-height-1 {
  line-height: 1;
}

// Colors
.color-primary {
  color: $color-primary;
}

.color-primary-dark {
  color: $color-primary-dark;
}

.color-white {
  color: $color-white;
}

.color-white-off {
  color: $color-white-off;
}

.color-black {
  color: $color-black;
}

.color-black-off {
  color: $color-black-off;
}
