// Colors
$color-primary: #ff005c;
$color-white: #fff;
$color-white-off: #ccc;
$color-black: #000;
$color-black-off: #161616;

// Fonts
$font-primary: 'Nunito', sans-serif;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
